<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ex08</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>상품 명</th>
            <th>상품 가격</th>
            <th>상품 재고</th>
            <th>상품 브랜드</th>
        </tr>
        <tr>
            <td th:text="${productVO.name}"></td>
            <td th:text="${productVO.price}"></td>
            <td th:text="${productVO.inven}"></td>
            <td th:text="${productVO.brand}"></td>
        </tr>
    </table>
</body>
</html>