<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<body>
<form action="/ex/ex08">
    <div>
    <input type="text" name="name" placeholder="이름">
    </div>
    <div>
    <input type="text" name="price" placeholder="가격">
    </div>
    <div>
        <input type="text" name="inven" placeholder="재고">
    </div>
    <div>
    <input type="text" name="brand" placeholder="브랜드">
    </div>
    <div>
    <button>확인</button>
    </div>
</form>
</body>
</html>